

.row {
    margin: 0px;
}

/* Some divs width */
.tab-content {
    width: 100%;
    margin-left: 0%;
}

#messages {
    width: 100%;
}

@media (min-width: 992px) {
    .tab-content {
        width: 80%;
        margin-left: 10%;
    };

    #messages{
        width: 80%;
    }
}

/* Floating "go up" button */
.float-button {
    position: fixed;
    right: 5%;
    top: 90%;
    transition: all 0.2s ease-in 0s;
    z-index: 9999;
    cursor: pointer;
}

/* Styles for bubble chats */
.bubble-chat-other {
    background-color: rgb(193, 221, 253);
    height:fit-content;
    float:left;
    width:fit-content;
    clear:none;
    max-width: 75%;
    padding:10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 15px;
    position:relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


.bubble-chat-me {
    background-color:rgb(247, 223, 119);
    height:fit-content;
    float:right;
    width:fit-content;
    clear:none;
    max-width: 75%;
    padding:10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 15px;
    position:relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bubble-text { 
    word-break: break-word;
    display: inline;
}