{% extends "base.html" %}

{% block app_content %}
    <h1>{{_('Messages') }}</h1>
    {% if messages|length > 0 %}
        <div align="center">{{ pagination.info }}</div>
        <div align="center">{{ pagination.links }}</div>
        
            <div id="messages" class="container" style="width: 80%;">
                {% for post in messages %}
                    {% include 'message_post.html' %}
                {% endfor %}
            </div>

        <div align="center">{{ pagination.info }}</div>
        <div align="center">{{ pagination.links }}</div>
        <nav aria-label="...">
            <ul class="pager">
                <li>
                    <a href="{{ '#' }}">
                        {{ _('Go up') }}
                    </a>
                </li>
            </ul>
        </nav>
    {% else %}
    <br>
    <h4>{{ _('You do not have messages yet.') }}</h4>
    {% endif %}
{% endblock %}