{% extends "base.html" %}

{% block app_content  %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}" style="border-radius: 128px;"></td>
            <td style="padding-left: 15px;">
                <h1>{{ _('%(username)s', username=user.username) }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{ _('Last seen on: %(date)s', date=moment(user.last_seen).calendar()) }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} {{ _('followers') }}, {{ user.followed.count() }} {{ _('following') }}.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}
                {% if user != current_user %}
                    <p>
                        <a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ _('Send private message') }}</a>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if posts|length > 0 %}
        <div align="center">{{ pagination.info }}</div>
        <div align="center">{{ pagination.links }}</div>
        
            <div id="messages" class="container">
                {% for post in posts %}
                    {% include 'message_post.html' %}
                {% endfor %}
            </div>

        <div align="center">{{ pagination.info }}</div>
        <div align="center">{{ pagination.links }}</div>
        <nav class="float-button" aria-label="...">
            <ul class="pager">
                <li>
                    <a href="{{ '#' }}">
                        {{ _('Go up') }}
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}